
*{
  overflow: hidden;
}
.sidebar{
    position:absolute;
    max-width:282px;
    height:840px;
    background:blue;
    border-radius:30px;


}

.sidebar img{
   width:80px;

}
.sidebar a{
    
    text-decoration: none;
    color:black;
  
}
.form{
      
     position: absolute;
  margin-top:0;
  margin-left:280px;
  max-width:50%;
  
   line-height: 30px;
   border:2px solid black; 
   padding:15px;
   border-radius: 45px;
     

}

.form input,.form select{
    margin:10px 0px;
  width:98%;
  padding:5px;
  /* display:inline-block; */
  
}
.form label{
  
     float:left;
     margin:0;
}


.search{
     
      position:relative;
     /* border:2px solid palevioletred; */
       width:25%;
       left:70%;
    border-radius: 45px;

}

.search input{
   margin-top:10px;
  width:85%;
  padding:25px;
   border-radius:15px;
}